.selectContact {
  background: #141414;
  width: 100px;
  height: 48px;
  opacity: 0.3;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
}

.selectContact option {
  color: #ffffff;
  padding-left: 16px;
}

.contactSelect {
  margin-top: 10px;
  display: flex;
}

.numberBlock {
  margin-left: 20px;
}

.inputNum {
  margin-top: 0;
  min-width: 340px;
}

@media (max-width: 768px) {
  .contactSelect {
    flex-direction: column;
  }
  .numberBlock {
    margin-top: 20px;
    margin-left: 0;
  }
  .dropdownMenu {
    width: 340px;
  }
  .input.inputNum {
    min-width: 240px;
  }
}
