.input{
    margin-top: 10px;
    color: #fff;
    opacity: 1;
    border: 1px solid #696666;
    box-sizing: border-box;
    border-radius: 6px;
    min-width: 100%;
    height: 48px;
    background-color: #141414;  
    text-transform: none;
    padding-left: 16px;
    font-size: 15px;
    line-height: 16px;
    outline:none;
}
.input:hover{
    border: 1px solid #F79633;
}
.input:focus{
    border: 1px solid #F79633;
}
.input::placeholder{
    font-size: 15px;
    line-height: 16px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
@media (max-width: 768px) {
   
 }