.dataBlock{
    margin-top: 20px;
}
.data{
    display: flex;
    justify-content: space-between;
    height: 63px;
    align-items: center;
    border-bottom: 0.7px solid rgb(100, 99, 99);
}
.dataTitle{
    font-size: 16px;
    line-height: 20px;
}
.inputElem{
    width: 70px;
    height: 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px;
    color: #F79633;
    opacity: 1;
    background-color: #141414;
    outline: none;
}
.inputElem:focus{
    border: 2px #F79633 solid;
}
.inputElem::placeholder{
    color: #FFFFFF;
}