.selectInd {
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 2px #fff solid;
}

.dropdownSelect {
  max-width: 50%;
}

.option {
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  margin-top: 25px;
  font-size: 16px;
  line-height: 16px;
  border-bottom: 2px solid white;
}

@media (max-width: 480px) {
  .option {
    font-size: 10px;
  }

  .dropdownSelect {
    max-width: 80%;
  }

}
